<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MySql.Data" version="6.9.8" targetFramework="net35" requireReinstallation="true" />
  <package id="Npgsql" version="2.2.7" targetFramework="net35" requireReinstallation="true" />
  <package id="Oracle.DataAccess.x86" version="2.112.1.0" targetFramework="net35" />
  <package id="PVFramework" version="3.4.0.0" targetFramework="net35" />
  <package id="PVFramework.Controls.System" version="3.4.0.0" targetFramework="net35" />
  <package id="PVFramework.WinApp" version="3.4.4.0" targetFramework="net35" />
</packages>